<div class="container-fluid">
    <h3>What is <kbd>{{term.term}}</kbd>?
        <small>
            <a href="/terms/{{term.id}}/edit" title="Edit">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
        </small>
    </h3>
    <blockquote>
        {{{marked (sanitizeHtml term.definition)}}}
    </blockquote>
</div>
