<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">
                <i class="glyphicon glyphicon-book"></i>&nbsp;definely
            </a>
        </div>
        <form class="navbar-form" action="/terms">
            <div class="input-group col-md-6">
                <input class="form-control" name="search-term" placeholder="What are you looking for?" value="{{searchTerm}}" autofocus />
                <span class="input-group-btn">
                    <button class="btn btn-primary">Search</button>
                    <a href="/terms/new" class="btn btn-success">
                        <i class="glyphicon glyphicon-plus"></i>
                        New term
                    </a>
                </span>
            </div>
        </form>
    </div>
</nav>
