<!DOCTYPE html>
<html>
    <head>
        <title>{{^ title}}definely{{/title}}</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        {{> header}}
        {{{content}}}
        {{> footer}}
    </body>
</html>
